
.input-div input{
    outline: none;
    border-bottom: 2px solid red !important;
    font-size: 1.5rem;
}

.input-div input::placeholder {
     color: red; 
}
 
.rounded-pill{
    font-size: .7rem; 
}

.text-muted{
    text-transform: uppercase;
}